{% extends 'noticeboard/base_inner.html' %}
{% block panel %}

<main>
    <div class="position-relative">
        <!-- shape Hero -->

        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">


                    <section class="section section-lg pt-0">
                        <div class="container">
                            <form method="post" action="#">{% csrf_token %}
                                <div class="card bg-gradient-success shadow-lg border-0">
                                    <div class="p-5">
                                        <div class="row align-items-center">

                                            <div class="col-lg-8">

                                                <h3 class="text-white">Post your Notice here.</h3>
                                                <input type="text" class="form-control" name="post-title"
                                                       id="post-title" placeholder="Your Notice title here" required/>
                                                <br/>
                                                <textarea name="notice" rows="5" class="form-control"
                                                          placeholder="Notice text here" required></textarea>
                                            </div>
                                            <div class="col-lg-3 ml-lg-auto">
                                                <button type="submit" class="btn btn-lg btn-block btn-white">Post
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>


                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>


    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        {% if noposts %}
                        No notices to show
                        {% endif %}
                        {% for p in posts %}
                        <div class="col-lg-4  mt-4">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-body py-5">

                                    <h6 class="text-primary text-uppercase">{{ p.title }}</h6>
                                    <p class="description mt-3">{{ p.notice_text }}</p>
                                    <div>
                                        <span class="badge badge-pill badge-primary">{{ p.user.name }}</span>
                                        <!--<span class="badge badge-pill badge-primary">system</span>-->
                                        <!--<span class="badge badge-pill badge-primary">creative</span>-->
                                    </div>
                                    <a href="#" id="edit" class="btn btn-primary mt-4" data-id="{{p.id}}"
                                       data-value="{{p.title}}"
                                       data-content="{{p.notice_text}}"
                                       data-toggle="modal"
                                       data-target="#modal-edit">Edit</a>

                                    <a href="#" id="delete" class="btn btn-danger mt-4"
                                       data-toggle="modal"
                                       data-id="{{p.id}}"
                                       data-target="#modal-delete">Delete</a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog"
         aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <form action="{% url 'post' %}" method="post">{% csrf_token %}
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-delete">Are you sure want
                            to delete the
                            notice ? </h6>

                        <input type="text" hidden value="" id="post_del_id" name="post_id">
                        <input type="text" hidden value="delete" name="req_type">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-link  ml-auto"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog"
         aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'post' %}">{% csrf_token %}
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-edit">Edit Notice</h6>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body-edit">

                        <h3 id="post_title"></h3>
                        <input name="post_id" id="post_id" value="" hidden>
                        <input name="req_type" value="edit" hidden>
                        <textarea class="form-control" required id="content_editor" name="content"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Done</button>
                        <button type="button" class="btn btn-link  ml-auto"
                                data-dismiss="modal">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click','#edit',function(e){
            var edit_id = $(this).data('id');
            var edit_title = $(this).data('value');
            var edit_content = $(this).data('content');
            $("#post_title").html(edit_title);
            $("#content_editor").html(edit_content);
            $("#post_id").val(edit_id);

        });

        $(document).on('click','#delete',function(e){
            var delete_id = $(this).data('id');
            $('#post_del_id').val(delete_id);
        });

    });








































</script>
{% endblock %}