{% extends 'noticeboard/base.html' %}
{% block privacy %}
<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <label>Privacy Policy</label>
                            </div>
                            <p>
                                The information submitted to this service will never be used for :
                            <ul>
                                <li>Advertising</li>
                                <li>Selling your information</li>
                                <li>Breaching your privacy</li>
                            </ul>

                            </p>
                            <bold>Disclaimer</bold>
                            <p>
                                You and only you own your information and we take no resposibility if the information is
                                used or misused by the organisation
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}